@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
}

body {
  background-color: #eeecec;
  font-family: 'Roboto', sans-serif;
}

/* Oculta la barra de scroll nativa */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilos para Ant Design Carousel / Slick */
.ant-carousel .slick-dots li {
  width: 25px;
  height: 4px;
}

.ant-carousel .slick-dots li button {
  height: 100%;
  border-radius: 2px;
  background: #fff;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
}

.ant-carousel {
  width: 100%;
}